<div class="navbarColor">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand transition" routerLink="/listado">
      Servicios
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item transition">
          <a class="nav-link text-light" routerLink="/nosotros">Sobre nosotros</a>
        </li>

        <!-- ------------------- -->

        <li class="nav-item acceso transition" id="acceso" *ngIf="miToken != 0">
          <a class="nav-link text-light" routerLink="/miArea"><strong>Usuario:</strong> {{ nombreUsuario }} </a>
        </li>

        <li class="nav-item acceso transition" id="acceso" *ngIf="miToken == 0">
          <a class="nav-link text-light" routerLink="/login">Acceso</a>
        </li>

        <li class="nav-item acceso transition" id="acceso" *ngIf="miToken == 0">
          <a class="nav-link text-light" routerLink="/registro">Regístrate</a>
        </li>



        <li class="nav-item acceso transition" id="acceso" *ngIf="miToken != 0" (click)="logout()">
          <strong><a class="nav-link text-light" routerLink="/listado">Cerrar Sesión</a></strong>
        </li>

      </ul>
    </div>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="¿Qué buscas?" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit">Buscar</button>
    </form>

  </nav>
</div>